<nav class="l-side-nav">
    <ul class="side-nav">
        <li class="is-active"><span>Home</span></li>
        <li><span>Works</span></li>
        <li><span>About</span></li>
        <li><span>Contact</span></li>
        <li><span>Hire us</span></li>
    </ul>
</nav>